@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.text {
  width: 0ch;
  color: rgb(38, 16, 236);
  overflow: hidden;
  white-space: nowrap;
  animation: text 3s steps(15) infinite alternate;
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
    color: rgb(218, 55, 5);
  }
}
